.power{
    background-color: #fbf5ff;
    border-radius: 20px;
    margin: 3%;

}

.HPower{
    padding-left: 33%;
    font-size: 80px;
    
}
.Bpower{
    padding-left: 39.5%;
    font-size: 80px;
    line-height: .9;

}
.Pone{
    padding-left: 33%;
    font-weight: lighter;
    font-size: 19px;
}
.Ptwo{
    padding-left: 37%;
    font-weight: lighter;
    font-size: 19px;


}

.icard{
    width: 70%;
    margin-left: 18%;
    margin-top: 5%;
}