:root{
    --blackText: hsl(0, 100%, 0%);
    --orangeGradient: hsla(17, 95%, 50%, 1);
    --blueGradient: hsla(152, 100%, 50%, 1);
    --purpleGradient: hsla(280, 95%, 57%, 1);
    --bodyColor : rgb(240, 240 , 246);
    --bodyColor:hsl (0, 0,1);
  
  }

  .videoSec{
    width:100%;
    // margin-top: 7%;
    // border: 2px solid red;
    // padding-bottom: 100rem;
  }


.videoFolder{
    width: 95%;
    // height: 90%;
    margin-top:6.7% ;
    margin-bottom: 2%;
    opacity: 0.6;
    object-fit: cover;
    
    // margin-right: ;
    // padding-left: 10px;
    // padding-right: 1px;

    margin-left: 2.4%;
    border-radius: 25px;
    transition: opacity .5s cubic-bezier(.215,.61,.355,1);
    // margin-bottom: 50%;
    


}

.vText{
    position: absolute;
    top:37%;
    left:30%;
    color: white;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    transition: .3s ease-in;
    
}
