@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700;800&display=swap');*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
font-family: 'Work Sans', sans-serif;
} 
:root{
  --blackText: hsl(0, 100%, 0%);
  --orangeGradient: hsla(17, 95%, 50%, 1);
  --blueGradient: hsla(152, 100%, 50%, 1);
  --purpleGradient: hsla(280, 95%, 57%, 1);
  --bodyColor : rgb(240, 240 , 246);
  --bodyColor:hsl (0, 0,1);


  

}


html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;

}

li{
  list-style: none;
}

.flex{
  display: flex;
  align-items: center;

}

.grid{
  display: grid;
  align-items: center;
}
.section{
  padding: 4rem 0 2rem;
}


input{
  font-size: 100%;
}

body{
  background: var(--bodyColor);
}
.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.btn{
  padding: .6rem 1.5rem;
  background: var(--gradientColor);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}